.git
.gradle
.idea
.kotlin
build
app/src
app/build
app/schemas
app/.cxx
backend/build/classes
backend/build/generated
backend/build/kotlin
backend/build/libs
backend/build/reports
backend/build/scripts
backend/build/test-results
backend/build/tmp
*.apk
